# Database (get from neon db project settings → Database → Connection string → URI)
DATABASE_URL=

# NextAuth
NEXTAUTH_URL=
AUTH_SECRET=
NEXTAUTH_SECRET=

NEXT_PUBLIC_COLLEGE_NAME=
NEXT_PUBLIC_COLLEGE_ADDRESS=
NEXT_PUBLIC_DEPARTMENT=

# NLP Service (add later)
NLP_SERVICE_URL=

# Nodemailer (Gmail)
EMAIL_USER=
EMAIL_PASS=

AUTH_TRUST_HOST=